.login-form, .signup-form {
    position:absolute;
    top:50%;
    left:50%;
    width:396px;
    // height:400px;
    transform: translate(-50%, -50%);
    background-color:#fff;
    border-radius:5px;
    border:1px solid #999;
    box-shadow:0 0 5px #666;
    padding:30px;
    box-sizing:border-box;
}

.login-form .form-title,
.signup-form .form-title {
    font-size:22px;
    line-height:26px;
    color:#464646;
    padding-bottom:30px;
    border-bottom:1px solid #e4e4e4;
}

.submit-btn {
    height:40px;
    padding:0 20px;
    cursor:pointer;
    background-color:#484891;
    color:#fff;
    font-weight:bolder;
}

.form-group .submit-btn {
    display:block;
    padding:0 20px;
    height:42px;
    color:#132e34;
    font-size:16px;
    background-color:#46cfed;
    border:1px solid #009bc9;
    border-radius:3px;
}

.have-account {
    text-align:center;
    color:#464646;
}

.have-account a {
    color:#46cfed;
}